* {
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background: #ecf0f1;
  line-height: 1.4;
}

p {
  color: #666;
}

h2 {
  font-size: 2em;
  color: #e74c3c;
}

.hidden {
  display: none
}

/* top navigation bar styling */

nav {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-container {
  margin: auto;
  max-width: 1100px;
}

#nav-container * {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  color: #F0F0F0;
  text-decoration: none;
}

#logo img {
  height: 70px;
  padding: 10px 5px 10px 20px;
}

#logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px
}

#logo:hover {
  text-shadow: 0 0 1px white
}

.home-button, .browse-button, .about-button {
  text-decoration: none;
  color: white;
  position: relative;
  top: 3px;
  font-size: 18px
}

.home-button {
  padding-left: 70px;
}

.browse-button, .about-button {
  padding-left: 30px;
}

.home-button:hover, .browse-button:hover, .about-button:hover {
  color: lightBlue;
}

.current {
  color: gold;
}

#nav-search-bar {
  float: right;
  position: relative;
  top: 15px;
  margin-right: 20px
}

.search * {
  border-radius: 5px;
  font-size: 18px;
  padding: 6px;
}

#get-beer-button {
  margin-left: 2px;
  margin-right: 20px;
  padding: 6px 10px;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  nav {
    position: static;
    height: 180px
  }

  #nav-container {
    text-align: center
  }

  #nav-search-bar {
    float: none;
    top: 10px
  }

  #logo {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  #logo img {
    height: 90px;
    padding: 10px 5px 10px 0;
  }

  #logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px
  }

  .home-button, .browse-button, .about-button {
    top: 10px;
    font-size: 20px
  }
}

@media only screen and (max-width: 580px) {
  nav {
    position: static;
    height: 200px
  }

  #nav-container {
    text-align: center
  }

  #logo {
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  #logo img {
    height: 70px;
    padding: 10px 5px 10px 0;
  }

  #logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 55px
  }

  #nav-buttons * {
    padding: 5px 20px
  }

  #nav-search-bar {
    float: none;
    margin: auto;
  }

  .search * {
    font-size: 20px
  }

  #get-beer-button {
    margin-right: 2px
  }
}

/* home page content styling */

header {
  position: relative;
  top: 70px;
  height: 200px
}

.header-container {
  margin: auto;
  max-width: 1100px;
}

.header-text {
  width: 45%;
  position: relative;
  top: 60px;
  padding-left: 40px
}

.header-title {
  vertical-align: middle;
  padding-bottom: 15px;
  font-size: 60px
}

.header-description {
  font-size: 20px;
  line-height: 30px
}

.header-image img {
  float: right;
  width: 42%;
  position: relative;
  top: -330px;
  padding-right: 20px
}

.enter-button {
  font-size: 25px;
  color: black;
  z-index: 10
}

.enter-button:hover {
  color: lightBlue;
  cursor: pointer
}

.main-footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background:#999;
   text-align: center;
}

.footer-text {
  margin: auto;
  max-width: 1100px;
}

footer h3 {
  float: right;
  padding-top: 15px;
  color: #CCC;
  padding-right: 20px
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  header {
    position: static
  }

  .header-text {
    width: 100%;
    padding: 0 60px;
    top: 40px;
  }

  header img {
    display: none
  }
}

@media only screen and (max-width: 580px) {
  header {
    position: static
  }

  .header-text {
    width: 100%;
    padding: 0 30px;
    top: 20px;
  }

  .header-title {
    font-size: 50px
  }

  .header-description {
    font-size: 18px;
    line-height: 25px
  }

  header img {
    display: none
  }
}

/* add form styling */

#add-beer-container {
  margin: auto;
  max-width: 1100px;
  padding: 50px 40px
}

.add-form {
  padding: 20px 0 0 0;
}

.add-form-submit, .add-form-cancel {
  margin-top: 20px
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  #add-beer-container {
    padding-left: 80px
  }
}

@media only screen and (max-width: 580px) {
  #add-beer-container input, #add-beer-container textarea {
    width: 250px
  }
}

/* beer library header content styling */

.beers-header-container {
  background-color: lightGrey;
  width: 100%;
  position: relative;
  top: 70px
}

.beers-header {
  margin: auto;
  max-width: 1100px;
}

.beers-header-text {
  padding: 30px 50px 20px 50px;
  overflow: auto
}

#add-button {
  float: right;
  padding: 6px 10px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px 40px 0 0;
  background-color: #BBB
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .beers-header-container {
    position: static;
  }
}

@media only screen and (max-width: 580px) {
  .beers-header-container {
    position: static;
  }

  .beers-header-text {
    padding: 20px 30px;
  }

  #add-button {
    margin: 15px 20px 0 0
  }
}

/* dynamic content styling (library, search, about, error) */

main {
  position: relative;
  top: 100px;
  padding-bottom: 80px;
}

.centered {
    margin: 0 auto;
    padding: 0 2em;
}

.card {
	background: white;
	margin-bottom: 2em;
}

.card a {
	color: black;
	text-decoration: none;
  margin: auto
}

.card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 0 1.4em 1.4em 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 100%;
}

img.beer-photo {
  width: 100%;
  height: auto;
  padding: 20px
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .main-area {
    padding-bottom: 0
  }

  .centered {
    position: relative;
    top: -60px;
  }
}

@media only screen and (max-width: 580px) {
  .main-area {
    padding-bottom: 0
  }

  .centered {
    position: relative;
    top: -85px
  }
}

/* beer library styling */

@media only screen and (min-width: 581px) and (max-width: 830px) {

}

@media only screen and (max-width: 580px) {

}

/* search result styling */

.beer-search-result {
  background-color: white;
  height: 100%;
  border: 2px solid white;
  border-radius: 30px;
  overflow: auto
}

.search-beer-url {
  width: 50%
}

.beer-search-result img {
  float: left;
  padding: 40px;
}

.beer-search-result-text {
  padding: 30px 20px
}

.edit-button, .delete-button {
  float: right;
  margin: 20px 10px 20px 0
}

.edit-button {
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 20px;
}

.delete-button {
  margin-right: 15px
}

@media only screen and (min-width: 581px) and (max-width: 830px) {

}

@media only screen and (max-width: 580px) {
  .beer-search-result-text {
    padding: 20px
  }

  .beer-search-result img {
    padding: 20px;
  }

  .search-beer-name {
    font-size: 1.5em
  }
}

/* edit form styling */

@media only screen and (min-width: 581px) and (max-width: 830px) {

}

@media only screen and (max-width: 580px) {
  .edit-form {
    padding-top: 0;
  }

  .edit-form input, .edit-form textarea {
    width: 260px
  }
}

/* about styling */

.about-container {
  background-color: white;
  padding: 30px 30px 30px 50px;
  border-radius: 30px;
}

.about-container ul {
  padding-top: 10px;
  padding-left: 40px
}

.about-text {
  width: 45%
}

.about-image img {
  float: right;
  width: 60%;
  position: relative;
  top: -350px;
  padding-left: 35px;
}

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .about-button {
    padding-right: 120px
  }
}

@media only screen and (max-width: 580px) {
  .about-container {
    padding: 30px
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    display: none
  }
}

/* error styling */

@media only screen and (min-width: 581px) and (max-width: 830px) {
  .error h2 {
    font-size: 30px;
    padding: 0 40px;
  }

  .error {
    font-size: 30px;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 580px) {
  .error h2 {
    font-size: 30px;
    padding: 0 25px;
  }

  .error {
    font-size: 28px;
    padding: 0 25px;
  }
}



#logo:hover, #get-beer-button:hover, #add-button:hover, .edit-button:hover, .delete-button:hover, .edit-form-submit:hover, .edit-form-cancel:hover, .add-form-submit:hover, .add-form-cancel:hover {
  cursor: pointer;
}

#get-beer-button:hover, #add-button:hover, .edit-button:hover, .delete-button:hover, .edit-form-submit:hover, .edit-form-cancel:hover, .add-form-submit:hover, .add-form-cancel:hover {
 background-color: #ffe97a;
}

form * {
  border-radius: 5px;
  font-size: 15px;
  padding: 4px;
  margin: 3px 0 3px 0;
}

.edit-form {
  padding: 20px 0 0 0;
}

.delete-button, .edit-form-submit, .edit-form-cancel, .add-form-submit, .add-form-cancel  {
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
}

.beer-selection-result-name:hover, .beer-additional-selection-result-name:hover {
  cursor: pointer;
  color: purple;
}



@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
  }
}

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
  }
}

@media only screen and (max-width: 580px) {
  textarea {
    height: 4em
  }
}
